.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.flex-container {
  display: flex;   
  /* align-items: flex-start;  */
  align-items: stretch; 
  /* flex-flow: row wrap; */ 
  flex-direction: row; 
  flex-wrap: wrap; 
  align-content: flex-start;
  height: 100%;
  padding: 5px;
  gap: 5px;
  justify-content:flex-start;
  min-width: 400px;  
  /* width: 100%; */
  margin-left: 15px;
  margin-right: 0;  
}
.centered-element {
  display: flex;
  align-items: center;
}
.sidenav {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 0;
  top: 60px;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  padding-top: 20px;  
  padding-left: 20px;
  font-weight: 400;
  font-size: 16px;
  color: #818181;
  border-right: .05rem solid gray;
  
}
.sidenav a {
  /* padding: 6px 8px 6px 16px; */
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  font-weight: 400;
  font-size: 16px;
  padding: 5px;
  font-weight:500;
  width: 150px;
}
.sidenav a:hover {
  color: #3da5e0;
  border: .05rem solid gray;
  background-color: #3da5e0;
  border-radius: 5px;
  color: rgb(240, 248, 255);
  font-weight:600;
  border-left: 10px solid rgb(248, 137, 33);
  
}
.main {  
  margin-left: 190px; 
  font-size: 16px; 
  padding: 0px 10px;
  position: relative;  
  top: 100px;
  z-index: 0;
  left: 20px
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


header{
  width: 100%;
  position: fixed;        
  background: rgb(255, 255, 255);
  padding: 0;
  color: #fff;
  top: 0;
  height: 60px;  
  /* box-shadow: 0px 15px 10px -15px #111;  */
  border-bottom: .05rem solid gray;
  display: flex;
  align-items: center;  
  object-fit: fill;
  z-index: 1;
}


footer{
  width: 100%;
  position: fixed;        
  background: rgb(255, 255, 255);
  padding: 0;
  color: rgb(63, 61, 61);
  bottom: 0;
  height: fit-content;    
  justify-content: center;
  display: flex;
  padding: 10px;
  z-index: 0;
}
img {
  height: 100%;
}
.card-profile {
  width: 200px;
  border: .05rem solid rgb(70, 69, 69)
}
.card-img-holder {
  width:100%;
}